*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: #f5eee4;
    font-family: "DM Sans", "Inter", "Istok Web", sans-serif;
}

.navItems{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #326A2f;
    padding: 10px 5vw;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
}

.navLink{
    list-style: none;
	padding: 20px 30px;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav li{
   height: 50px;
}

nav a{
    height: 100%;
    padding: 20px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

nav a:hover{
    background-color: #42813f;
}

nav li:first-child{
    margin-right: auto;
}
.menuIcon{
    display: none;
}
.sideBar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999; /*Ensures sidebar is above other items in the web page and nothing covers it */
    background-color: #326A2f;
    backdrop-filter: #326a2f00 ;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sideBar li{
    width: 100%;

}

.sideBar a{
    width: 100%;
}

.buttonContainer{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 10vw;
margin-top: 150px;
width: 100%;
min-height: calc(100vh-150px); /*keep centered within view*/
}

.btnBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.button{
    background-color: #f5eee4;
    background-position:center;
    background-repeat: no-repeat;
    background-size:contain;

    width: 25vw;
    max-width: 220px;
    aspect-ratio: 1 /1;

   border: none;
   outline: none;
   cursor: pointer;

   transition: transform 0.2s ease;
}
.btnLabel{
    margin-top: 20px;
    font-size: 1.5rem;
    color:#326A2f;
    font-weight:600;
    font-family: sans-serif;
}

.button:hover{
    transform: scale(1.05);
}

#foodPanBtn{
    background-image:url('foodPantry.png');
}
#offCollabBtn{
    background-image: url('officalCollabs.png');
}
#laFoodWasteBtn{
    background-image: url('laFoodWaste.png');
}



