body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5eee4;
}

.login-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
   background-color: #326A2f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.title {
  font-size: 40px;
  font-weight: bold;
}

 .signup-btn {
  background-color: white;
  color: #326A2f;
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 16px;
  cursor: pointer;
  border-radius: 6px;
  width: auto;
  display: inline-block;
}
.signup-btn:hover {
  background-color: #42813f;
  color: white;
}

.login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

form h2 {
  margin-bottom: 10px;
  color: black;
}

form p {
  color: #444;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-btn {
  background-color: white;
  color: #326A2f;
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 6px;
  width: fit-content;
  display: inline-block;
  align-self: flex-end;
}
.signup-btn:hover {
  background-color: #42813f;
  color: white;
}

.error {
  color: red;
}

.message {
  color: green;
}


  .footer {
  background-color: #326A2f;
  color: white;
  text-align: center;
  padding: 15px;
  font-weight: bold;
  box-shadow: 0 -4px 6px rgba(0,0,0,0.1);
}